* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.formWrapper {}

.formWrapper form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px black;
    margin-top: 20px;
}

.formElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.formElement label {
    flex: 1;
}

.formElement input,
.formElement select {
    flex: 2;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.formElement input:focus,
.formElement select:focus {
    border: none;
    border: 1px solid red;
    outline: 1px solid red;
}

.submitBtnWrapper {
    display: flex;
    justify-content: center;
}

.submitBtn {
    padding: 5px 30px;
    background-color: rgb(5, 163, 5);
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.submitBtn:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 3px 3px 0 0 #000;
    border-radius: 5px;
}

.submitBtn:disabled {
    cursor: not-allowed;
    background-color: gray;
}
.newPhoneTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
}